.container {
    /* display: flex; */
    position: relative;
}

.w-h {
    width: 200px;
    height: 200px;
} 

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
    position: sticky;
    left: 20px;
    top: 0px;
    z-index: 2;
}